<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <h2>{{name}}</h2>
    <label>Name: </label>
    <input type="text" v-model="name">
    <hr>
    <label>Checkbox value: {{checked}}</label>
    <input type="checkbox" v-model="checked">

</div>


<script src="js/script.js"></script>
</body>
</html>