<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <ul>
        <input type="text" @keyup.enter="addTask" v-model="currentTask">
        <li v-for="task in tasks"
            :class="{'strike':task.isCompleted}">
            <input type="text" v-if="task.isEditing"
                   @keyup.enter="editTask(task.text)"
                   v-model="editValue">
            <span @click="task.isCompleted=!task.isCompleted"
                  v-else>
                {{task.text}}</span>
            <button @click="removeTask(task.text)">X</button>
            <button @click="changeEdit(task.text)">edit</button>
        </li>
    </ul>
</div>


<script src="js/script.js"></script>
</body>
</html>