<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="form-group">
        <h1>hi {{name}}</h1>
        <h1>{{userInfo}}</h1>
        <h3><a :href="url" target="_blank">Home page</a></h3>
        <button @click="changeName" class="btn btn-info">Name</button>
        <hr>
        <h4>Add book</h4>
        <input type="text" v-model="currentBook" class="form-control mb-3">
        <button @click="addBook" class="btn btn-success">Add</button>
        <hr>
        <ul class="list-group" v-if="books.length>0">
            <li class="list-group-item active">
                List Books</li>
            <li class="list-group-item " v-for="book in books">
                {{book}}</li>
        </ul>
        <comp_1></comp_1>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>