<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="p-5">
        <form>
            <h2>Hi, {{firstName}} {{secondName}}..</h2>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control"
                       id="firstName" placeholder="firstName"
                       v-model="firstName">
            </div>
            <div class="form-group">
                <label for="secondName">Second name</label>
                <input type="text" class="form-control"
                       id="secondName" placeholder="secondName"
                       v-model="secondName">
            </div>
            <button class="btn btn-success"
            @click.prevent="submit">Submit</button>
        </form>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>