body {
    background: darkgrey;
}
.animTarget{
    /*display: none;*/
}
.fade-enter{
    /*opacity: 0;*/
}
.fa-leave-active{
    transition: opacity 1s;
    opacity: 0;
}
.fa-enter-active{
    transition: opacity 1s;
    opacity: 0.5;
}
